{% extends "base.html" %}

{% block content %}

	{% include 'includes/navigation.html' %}

	{% include 'includes/hero-slider.html' %}

	{% include 'includes/category.html' %}


	<section class="products section bg-gray">
		<div class="container">
			<div class="row">
				<div class="title text-center">
					<h2>Featured Products</h2>
				</div> 
			</div> 
			<div class="row">
				{% for product in products %}
					<div class="col-md-4">
						<div class="product-item">
							<div class="product-thumb">
								<span class="bage">Sale</span>
								<img class="img-responsive" src="{{ product.image.url }}" alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<span  data-toggle="modal" data-target="#product-modal">
												<i class="tf-ion-ios-search-strong"></i>
											</span>
										</li>
										<li>
											<a href="#!" ><i class="tf-ion-ios-heart"></i></a>
										</li>
										<li>
											<a href="#!"><i class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4><a href="{% url "product_details" product.id %}">{{ product.name }}</a></h4>
								<p class="price">&#8377; {{ product.price }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>


	{% include 'includes/call-to-action.html' %}

	{% include 'includes/instagram-feed.html' %}

	{% include 'includes/footer.html' %}

{% endblock content %}



