# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Django related
*.log
*.pot
*.pyc
db.sqlite3
__pycache__/
media/
staticfiles/

# Secret key
*.key

# Development/production environment setup
.env
.vscode/
.idea/
