container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from accounts.models import Account; Account.objects.create_superuser('Melvin', 'Thankachan', 'melvinthankachan101@gmail.com', 'melvin')\" | python manage.py shell"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mulberry.settings